.container{
    border: 1px solid rgb(56, 14, 208);
    height: 100vh;
    display:flex;
}
.sidebar{
    border:1px solid green;
    flex:3;

}
.cardLists{
    border:1px solid pink;
    flex: 7;
    padding: 20px;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    gap: 30px;
   
}
